header {
  height: 400px;
  width: 100%;
  z-index: auto;
  text-align: center;
  margin-top: 120px;
  background-color: #fada95;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.avatar-container {
  text-align: center;
  
}

h2 {
  color: #424c6d;
  font-weight: normal;
  padding-left: 15px;
}

/* @media only screen and (min-width: 1024px) {
  header {
    width: 33.3%;
    float: left;
  }
} */