header {
  height: 400px;
  width: 100%;
  z-index: auto;
  text-align: center;
  margin-top: 120px;
  background-color: #fada95;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.avatar-container {
  text-align: center;
  
}

h2 {
  color: #424c6d;
  font-weight: normal;
}