nav {
  position: fixed;
  z-index: 1030;
  height: 120px;
  width: 100%;
  background-color: #2a90ab;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: #9fdded;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
}

.cta-container {
  float: right;
  width: 260px;
  height: 50px;
  /* display: incline-block; */
}

.new-tweet-nav {
  color: #9fdded;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;
}

#nav-arrow {
  position: relative;
  /* top: 1.0em; */
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

#nav-arrow:hover {
  padding-top: 4px;
}


@media only screen and (max-width: 1024px) {

  .cta-container {
    margin-top: 50px;
    width: 260px;
    height: 60px
  }

  nav {
    background-color: #fada95;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  }

  .new-tweet-nav {
    font-weight: bold;
  }
}