.container {
  position: absolute;
  width: 100%;
  padding: 5px;
  justify-content: center;
}

h2 {
  position: relative;
}

.new-text {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  border: 0;
}

.msg {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #9fdded;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  box-shadow: none;
}
.msg textarea:focus {
box-shadow: none;
}

.btn {
  background: #2a90ab;
  border-color: #2a90ab;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
  width: 70px;
  height: 30px;
  font-size: 15px;
}

.counter {
  float: right;
  position: relative;
  color: #2a90ab;
  font-weight: bold;
}

.red {
  color: red;
}