.tweet-wrapper {
  display: block;
  font-weight: normal;
  border: 2px solid #2a90ab;
  justify-content: center;
  position: relative;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: box-shadow .4s;
}
.tweet-wrapper:hover {
box-shadow: 0 0 11px #2a90ab;
}

.fa-user {
  padding: 10px;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  display: inline-block;
}

.handle {
  float: right;
  margin-right: 15px;
  font-size: 20px;
  opacity: 0.5;
}

.tweet-msg {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #9fdded;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.tweet-footer {
  display: block;
  font-size: 20px;
  padding: 5px 15px 7px 15px;
  width: 100%;
  align-items: center;
}
.footer-icons {
  float: right;
  padding: 5px;
}
